{% extends "base.html" %}
{% load staticfiles %}
{% block newsfeed-content %}

{% if latest_post_list %}


    {% for post, tag_group in zipped_lists %}
    
        <div class="post pn">
            
            <div class="credit" >
                
                <img class="post-avatar" src="http://lorempixel.com/200/200/">
                <div class="username monofur-font">{{ post.user_id }}</div>
                <div class="timestamp">{{ post.timestamp }}</div>
            </div>

            <a href="{% url 'newsfeed:single_post' post.id %}" class="post-link">
                <!--
	            <img class="post-image"src="https://placekitten.com/g/400/200">
                -->
                {% if post.image_path %}
                <img class="post-image"src="/media/{{ post.image_path }}" width="200" height="100"/>
                {% endif %}
	        </a>


            <div class="title monofur-font">
                <a href="{% url 'newsfeed:single_post' post.id %}" class="post-link">
                    {{ post.post_title }}
                </a>
    
            </div>

            <div class="caption">
                {{ post.post_text }}
            </div>
<div class="divider" style="background-image: url(/static/newsfeed/img/navbar2.png);">
	        	<!-- <img src="{% static 'newsfeed/img/navbar2.png' %}" class="divider"> -->
	        	<div class="gradient">test</div>

	        	<!-- <div class="divider" style="background-image: url(/static/newsfeed/img/navbar2.png);"></div> -->
	        </div>



            <div class="upvotes">
                10,000 upvotes &nbsp;&nbsp;  &nbsp;&nbsp;
            {% if tag_group %}
            
                tags: {% for tag in tag_group %}&#35;{{ tag.tag }}&nbsp;&nbsp;{% endfor %}
            
            {% endif %} 
                        
                <div class="upvote-button">&#9734</div>
            </div>
            
        </div>
    

    {% endfor %}
    
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}




{% block new-post-mod %}



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<!-- <div class="new-post pn"> -->
	<form action="create_post" method="post" enctype="multipart/form-data">
	
<!-- 	
		<div class="quarter" >
			<img class="crossed" id="img-preview-spot" src="{% static 'newsfeed/img/cross-blank.png' %}">
		</div> -->
		
		{% csrf_token %}
        <div class="quarter" >
			<input type="file" name="post-image" id="post-image" accept="image/*" >
        </div>
        <div class="threequarter all-inputs">
	    <input type="text" name="post_title" id="post_title" placeholder="Title your creation" class="new-post-input title"/>
	    <input type="text" name="post_text"  id="post_text"  placeholder="Caption" class="new-post-input text"/>
		<input type="text" name="tags"       id="tags"       placeholder="Tags (separate by commas)" class="new-post-input text"/> <!-- tags separated by commas -->
		<input type="submit" value="create post" class="new-post-button"/>
        </div>
		

	</form>
<!-- </div> -->
<!-- 
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'newsfeed/js/jquery.js' %}"></script> -->

<script type="text/javascript">




// uploads images
$("#post-image").change(function(e) {

	var src = $('.file-preview-image').attr('src');
	$('.img-preview-spot').attr('src') = src;

    for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

        var file = e.originalEvent.srcElement.files[i];

        var img = document.createElement("img");
        var reader = new FileReader();
        reader.onloadend = function() {
             img.src = reader.result;
        }
        reader.readAsDataURL(file);
        $("#post-image").after(img);
    }
});

</script>

{% endblock %}