{% extends "base.html" %}
{% load staticfiles %}
{% block newsfeed-content %}


{% if latest_post_list %}
    {% for post, tag_group in zipped_lists %}
    
    


        <div class="post pn" data-postid='{"id":"{{ post.id }}"}'>
            
            <div class="credit" >
                
                <img class="post-avatar" src="{% static 'newsfeed/img/ui-danro.jpg' %}">
                <div class="username monofur-font">{{ post.user_id }}</div>
                <div class="timestamp">{{ post.timestamp }}</div>
            </div>

            <a href="{% url 'newsfeed:single_post' post.id %}" class="post-link">
                <!--
	            <img class="post-image"src="https://placekitten.com/g/400/200">
                -->
                {% if post.image_path %}
                <img class="post-image"src="/media/{{ post.image_path }}" width="200" height="100"/>
                {% endif %}
	        </a>

            <div class="title monofur-font">

                <a href="{% url 'newsfeed:single_post' post.id %}" class="post-link">
                    {{ post.post_title }}
                </a>
            </div>

            <div class="caption">
                {{ post.post_text }}
            </div>
            <div class="divider" >
	        	<!-- <img src="{% static 'newsfeed/img/navbar2.png' %}" class="divider"> -->
	        	<div class="gradient"></div>
	        	<!-- <div class="divider" style="background-image: url(/static/newsfeed/img/navbar2.png);"></div> -->
	        </div>


            <div class="upvotes">
                9,000 upvotes &nbsp;&nbsp;  &nbsp;&nbsp;
            {% if tag_group %}
            
                tags: {% for tag in tag_group %}&#35;{{ tag.tag }}&nbsp;&nbsp;{% endfor %}
            


            {% endif %} 


                <div class="upvote-button">&#9734</div>
            </div>
            
        </div>
    

    {% endfor %}
    
{% else %}
    <div class="post pn text-align-center monofur-font">
        <p>No more posts are available.</p>
    </div>
    
{% endif %}

<!-- PUT IT BACK HERE -->

{% endblock %}




{% block new-post-mod %}



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<!-- <div class="new-post pn"> -->
	<form enctype="multipart/form-data" id="post_form"> <!-- action="create_post"> -->
	
<!-- 	
		<div class="quarter" >
			<img class="crossed" id="img-preview-spot" src="{% static 'newsfeed/img/cross-blank.png' %}">
		</div> -->
		
		{% csrf_token %}

        <input type="file" name="post-image" id="post-image" accept="image/*" class="floating-mod-input">
	    <input type="text" name="post_title" id="post_title" placeholder="Title your creation" class="new-post-input title floating-mod-input"/>
	    <input type="text" name="post_text"  id="post_text"  placeholder="Caption" class="new-post-input text floating-mod-input"/>
    </form>
    <form enctype="multipart/form-data" id="post_tags"> <!-- action="post_tag" method="post"> -->
        {% csrf_token %}
		<input type="text" name="tags"       id="tags"       placeholder="Tags (separate by commas)" class="new-post-input text floating-mod-input"/> <!-- tags separated by commas -->
        <!-- <input type="submit" value="create post" class="new-post-button"/> -->
        <button onclick="SubForm()" class="new-post-button">create post</button>
        

		

	</form>
<!-- </div> -->
<!-- 
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'newsfeed/js/jquery.js' %}"></script> -->

<script type="text/javascript">


function SubForm (){
$(function() {
    $('#post_tags').on('submit', function(e) {
        $.post('posts/', $('#post_form').serialize(), function (data) {
            // console.log("success");
            $.ajax({
                url:'post_tag',
                type:'post',
                enctype: "multipart/form-data",
                data:$('#post_tags').serialize(),
                success:function(){
                    // alert("worked");
                }
            });
            // This is executed when the call to mail.php was succesful.
            // 'data' contains the response from the request
        }).error(function() {
            // This is executed when the call to mail.php failed.
        });
        e.preventDefault();
    });
});
    // console.log("here");
    // console.log(document.getElementById("post_form"));
    // $.ajax({
    //     url:'posts/',
    //     type:'post',
    //     enctype: "multipart/form-data",
    //     data:$('#post_form').serialize(),
    //     success:function(){
    //         // console.log("success");

    //     }
    // });
}


var executeInt = true;
var wait = true;

setInterval(function(){
    if (executeInt) {
        doAjax();
        executeInt = false;
    }
    wait = true;
    doAjax();
}, 1000);

function doAjax() {
    $.ajax({ url: "posts", success: function(data) {
        var currentId = -1;
        if ($("#main-content-stream div").first().data("postid")) {
            currentId = $("#main-content-stream div").first().data("postid").id
        }
        // console.log("Current id: " + currentId);
        if (data) {
            for (var i = 0; i < data.length; i++) {
                var post = data[i];
                // console.log(post);
                if (Number(post["id"]) > Number(currentId)) {
                    // $.ajax({ url: "tags_of_a_post/" + post["id"], success: function(tags) {
                    //     if (jQuery.isEmptyObject(tags)) {
                    //         addPostIndex(post, null);
                    //     } else {
                    //         addPostIndex(post, tags);
                    //     }
                    // },
                    // cache: false, dataType: "json"});

                    addPostIndex(post);
                }
            }
        }

        wait = false;

        // doAjax();


        },
    cache: false, dataType: "json"});
}



function addPostIndex(data) {
    // console.log("in addPostIndex with id = "+data.id);
    if (data) {
        $.ajax({ url: "tags_of_a_post/" + data.id, success: function(returned_tags) {
            // console.log(returned_tags);
            var tags;
            if (jQuery.isEmptyObject(returned_tags)) {
                tags = null;
            } else {
                tags = returned_tags;
            }
        
    
            var stream = document.getElementById("main-content-stream");
            var recentChild = stream.firstChild;

            var newPost = document.createElement("div");
            newPost.className = "post pn";
            newPost.setAttribute("data-postid", '{"id":"'+data.id+'"}');
    //////
            var credit = document.createElement("div");
            credit.className = "credit";


            var postAvatar = document.createElement("img");
            postAvatar.src = "{% static 'newsfeed/img/ui-danro.jpg' %}"
            postAvatar.className = "post-avatar";

            //TODO: CHANGE THIS WHEN USERNAMES ARE ACTUALLY A THING
            var username = document.createElement("div");
            //var usernameText = document.createTextNode(data.username);
            var usernameText = document.createTextNode(data.owner);
            username.appendChild(usernameText);
            username.className = "username monofur-font"

            var timestamp = document.createElement("div");
            var d = new Date(data.timestamp);
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var h = d.getHours();
            var day = d.getDate();
            var year = d.getFullYear();
            var mins = d.getMinutes();
            var a_p = " a.m."
            if (h > 12) {h = h - 12; a_p = " p.m.";}
            if (h == 0) {h = 12;}
            h = h.toString();
            day = day.toString();
            year = year.toString();
            if (mins < 10) {
                mins = "0" + mins.toString();
            } else {
                mins = mins.toString();
            }
            var fdate = months[d.getMonth()] + " " + day + ", " + year + ", " + h + ":" + mins + a_p;
            var timestampText = document.createTextNode(fdate);
            timestamp.appendChild(timestampText);
            timestamp.className = "timestamp";

            credit.appendChild(postAvatar);
            credit.appendChild(username);
            credit.appendChild(timestamp);
            newPost.appendChild(credit);

    //////

            var link = document.createElement("a");
            link.className = "post-link";
            
            if (data.image_path) {
                var img = document.createElement("img");
                img.className = "post-image";
                img.src = "/media/"+data.image_path;
                img.style.height = "100";
                img.style.width = "100";
                link.appendChild(img);

            }
            newPost.appendChild(link);

    ///////
            var title = document.createElement("div");
            title.className = "title monofur-font";
            var titleLink = document.createElement("a");
            titleLink.className = "post-link";
            
            var titleLinkText = document.createTextNode(data.post_title);
            titleLink.appendChild(titleLinkText);
            titleLink.href = "post/" + data.id
            title.appendChild(titleLink);
            newPost.appendChild(title);

    ///////

            var caption = document.createElement("div");
            caption.className = "caption";
            var captionText = document.createTextNode(data.post_text);
            caption.appendChild(captionText);
            newPost.appendChild(caption);
    ///////
            var post_tags = document.createElement("div");
            post_tags.className = "tags";
            if (tags) {
                // var tag_string = "";
                for (i = 0; tags[i]; i++) {
                    var tagLink = document.createElement("a");
                    tagLink.className = "tag-link";
                    var tagLinkText = document.createTextNode(tags[i].fields.tag);
                    tagLink.appendChild(tagLinkText);
                    tagLink.href = "tag/" + tags[i].pk;
                    post_tags.appendChild(tagLink);
                    // tag_string += "#" + tags[i].fields.tag + " ";
                }
                newPost.appendChild(post_tags);
                // console.log(tag_string);
            }
            // var tagsText = document.createTextNode("Tags: " + tag_string);
            // if (tags) {
            //     post_tags.appendChild(tagsText);
            //     newPost.appendChild(post_tags);
            // }

    /////
            var divider = document.createElement("div");
            divider.className = "divider";
            newPost.appendChild(divider);

    //////
            var upvotes = document.createElement("div");
            upvotes.className = "upvotes";
            var upvotesText = document.createTextNode("9,000 upvotes      ");
            upvotes.appendChild(upvotesText);

            var upvoteButton = document.createElement("div");
            upvoteButton.className = "upvote-button";

            var upvoteButtonText = document.createTextNode("\u2606");
            upvoteButton.appendChild(upvoteButtonText);
            upvotes.appendChild(upvoteButton);
            newPost.appendChild(upvotes);

            // newPost.insertBefore(recentChild, newPost);
            // recentChild.insertBefore(newPost, null);
            // console.log(recentChild);

            stream.insertBefore(newPost, recentChild);

        },
        cache: false, dataType: "json"});

    }

}

// document.getElementById("current_user").innerText = "{{ self_un }}";






</script>

{% endblock %}