{% extends "base.html" %}

{% block newsfeed-content %}

{% if latest_post_list %}


    {% for post, tag_group in zipped_lists %}
    
        <div class="post pn">
            
            <div class="credit" >
                <img class="post-avatar" src="http://lorempixel.com/200/200/">
                <div class="username">{{ post.user_id }}</div>
                <div class="timestamp">{{ post.timestamp }}</div>
            </div>
            <a href="{% url 'newsfeed:single_post' post.id %}" class="post-link">
	            <img class="post-image"src="https://placekitten.com/g/400/200">
	        </a>
            <div class="title">
                {{ post.post_title }}
            </div>
            
            <div class="caption">
                {{ post.post_text }}
            </div>



            <div class="upvotes">
                10,000 upvotes &nbsp;&nbsp;  &nbsp;&nbsp;
            {% if tag_group %}
            
                tags: {% for tag in tag_group %}
                {{ tag.tag }},
                {% endfor %}
            
            {% endif %} 
                        
                <div class="upvote-button">&#9734</div>
            </div>
            
        </div>
    

    {% endfor %}
    
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}