{% extends "base.html" %}
{% load staticfiles %}
{% block login-content %}

<style type="text/css">
	header {
		display: none !important;
	}
	.main-content {
		/*background-image: url(/static/newsfeed/img/navbar2.png) !important;*/
		display: none !important;
	}

footer {
		display: none !important;
	}


</style>
<div class="fadein">
    <img src="http://farm9.staticflickr.com/8359/8450229021_9d660578b4_n.jpg">
    <img src="http://farm9.staticflickr.com/8510/8452880627_0e673b24d8_n.jpg">
    <img src="http://farm9.staticflickr.com/8108/8456552856_a843b7a5e1_n.jpg">
    <img src="http://farm9.staticflickr.com/8230/8457936603_f2c8f48691_n.jpg">
    <img src="http://farm9.staticflickr.com/8329/8447290659_02c4765928_n.jpg">
</div>



<div class="login-column monofur-font">
	<a href="{% url 'newsfeed:index' %}" class="login-logo">
		<img class="nav-logo"src="{% static 'newsfeed/img/full-logo-white.png' %}">
	</a>
	<div class="login-window ">

		<h3 class="login-title">let's get creative</h3>
		<form id="login-form">
			<input class="login-input" type="text" name="username" placeholder="username">
			<br>
			<input class="login-input" type="text" name="password" placeholder="password">
		</form>
		
	</div>
	<div class="transparent-button">
		<button class="login-button" type="submit" form="login-form" value="login">log in</button>
	</div>
	
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
	$('.fadein img:gt(0)').hide();

	setInterval(function () {
	    $('.fadein :first-child').fadeOut()
	                             .next('img')
	                             .fadeIn()
	                             .end()
	                             .appendTo('.fadein');
	}, 4000); // 4 seconds
	});
</script>




{% endblock %}