{% extends "base.html" %}
{% load staticfiles %}
{% block login-content %}

<style type="text/css">
	header {
		display: none !important;
	}
	.main-content {
		/*background-image: url(/static/newsfeed/img/navbar2.png) !important;*/
		display: none !important;
	}

footer {
		display: none !important;
	}


</style>


<div class="login-column monofur-font">
	
	<div class="login-window ">
	<a class="login-button bg-light-mint mint-button login-input" href="create_user" id="create-user-at-login">create user</a>
		<!-- <h3 class="login-title">let's get creative</h3> -->
		<a href="{% url 'newsfeed:index' %}" class="login-logo">
			<img class="nav-logo"src="{% static 'newsfeed/img/full-logo-mint.png' %}">
		</a>

		<form action="login_user" method="post" enctype="multipart/form-data" id="login-form">
			{% csrf_token %}
			<input class="login-input" type="text" name="username" placeholder="username">
			<br>
			<input class="login-input" type="password" name="password" placeholder="password">
			<button class="login-button bg-light-mint mint-button login-input" type="submit" form="login-form" value="login">log in</button>
		</form>
		
	</div>
	

	
	
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
	$('.fadein img:gt(0)').hide();

	setInterval(function () {
	    $('.fadein :first-child').fadeOut()
	                             .next('img')
	                             .fadeIn()
	                             .end()
	                             .appendTo('.fadein');
	}, 4000); // 4 seconds
	});
</script>




{% endblock %}