{% extends "base.html" %}
{% load staticfiles %}
{% block login-content %}

<style type="text/css">
	header {
		display: none !important;
	}
	.main-content {
		/*background-image: url(/static/newsfeed/img/navbar2.png) !important;*/
		display: none !important;
	}
.fadein {
    position:absolute;
    height:100%;
    width:100%;
    -webkit-filter: blur(15px);
    left:0;
    
    /*margin-top: -80px;*/
    
}
footer {
		display: none !important;
	}

.fadein img {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;


}

.login-column {
	position: absolute;
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	padding-top: 200px;
}

.login-window {
	width: 100%;
	background-color: #FEFEFE;
	padding: 15px;
	color: #8F8F8F;
	padding-left: 60px;
	padding-right: 60px;
	border-radius: 5px;

}

.login-logo img{
	width: 70%;
	height: auto;
	margin-left: 15%;
	margin-right: 15%;
}
.login-title {
	text-align: center;
	padding-bottom: 25px;
	  border-bottom: 1px solid #8F8F8F;
	  margin-bottom: 30px;
}

.login-input {
	width: 100%;
	margin-bottom: 30px;
	height: 45px;
}

.transparent-button {
	width:100%;
	
	border: none;
	border-radius: 5px;
	color: #fff;
	height: 165px;
	border: 60px solid white;
	margin-top: -60px;
	border-bottom-width: 40px;
}
.login-button {
	width: 100%;
	background-color: rgba(1,1,1,0);
	border: none;
	height: 100%;

}


</style>
<div class="fadein">
    <img src="http://farm9.staticflickr.com/8359/8450229021_9d660578b4_n.jpg">
    <img src="http://farm9.staticflickr.com/8510/8452880627_0e673b24d8_n.jpg">
    <img src="http://farm9.staticflickr.com/8108/8456552856_a843b7a5e1_n.jpg">
    <img src="http://farm9.staticflickr.com/8230/8457936603_f2c8f48691_n.jpg">
    <img src="http://farm9.staticflickr.com/8329/8447290659_02c4765928_n.jpg">
</div>



<div class="login-column monofur-font">
	<a href="{% url 'newsfeed:index' %}" class="login-logo">
		<img class="nav-logo"src="{% static 'newsfeed/img/full-logo-white.png' %}">
	</a>
	<div class="login-window ">

		<h3 class="login-title">let's get creative</h3>

		<form action="login_user" method="post" enctype="multipart/form-data" id="login-form">
			{% csrf_token %}
			<input class="login-input" type="text" name="username" placeholder="username">
			<br>
			<input class="login-input" type="password" name="password" placeholder="password">
		</form>
		
	</div>
	<div class="transparent-button">
		<button class="login-button" type="submit" form="login-form" value="login">log in</button>
	</div>
	
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
	$('.fadein img:gt(0)').hide();

	setInterval(function () {
	    $('.fadein :first-child').fadeOut()
	                             .next('img')
	                             .fadeIn()
	                             .end()
	                             .appendTo('.fadein');
	}, 4000); // 4 seconds
	});
</script>




{% endblock %}