{% extends "base.html" %}
{% load staticfiles %}
{% block signup %}

<style type="text/css">

#signup-form {
	font-size: 20px;
}


</style>




<div class="signup-column monofur-font">


    <div class="login-window ">

        <h3 class="login-title">let's get creative</h3>
        <form action="create_user" method="post" enctype="multipart/form-data" id="login-form">
            {% csrf_token %}
            first name:<br/>
            <input class="login-input" type="text" name="first_name" placeholder="first name">
            <br>
            last name:<br/>
            <input class="login-input" type="text" name="last_name" placeholder="last name">
            <br>
            username:<br/>
            <input class="login-input" type="text" name="username" placeholder="username">
            <br>
            password:<br/>
            <input class="login-input" type="password" name="password" placeholder="password">
            <br/>
            email:<br/>
            <input class="login-input" type="text" name="email" placeholder="email">
        </form>
        
    </div>
    <div class="transparent-button">
        <button class="login-button" type="submit" form="login-form" value="login">create user</button>
    </div>
	
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
	$('.fadein img:gt(0)').hide();

	setInterval(function () {
	    $('.fadein :first-child').fadeOut()
	                             .next('img')
	                             .fadeIn()
	                             .end()
	                             .appendTo('.fadein');
	}, 4000); // 4 seconds
	});
</script>




{% endblock %}