{% extends "base.html" %}
{% load staticfiles %}
{% block signup %}

<style type="text/css">

#signup-form {
	font-size: 20px;
}


</style>




<div class="signup-column monofur-font">

	<div class="login-window ">

		<h3 class="login-title">Sign Up</h3>
		<form id="signup-form">
			
			<input class="login-input" type="text" name="firstname" placeholder="First Name">
			<br>
			<input class="login-input" type="text" name="lastname" placeholder="Last Name">
			<br>
			<input class="login-input" type="text" name="username" placeholder="Username">
			<br>
			<input class="login-input" type="text" name="email" placeholder="Email">
			<br>
			<input class="login-input" type="text" name="password" placeholder="Password">
		</form>
		
	</div>
	<div class="transparent-button">
		<button class="signup-button" type="submit" form="login-form" value="login">sign up</button>
	</div>
	
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
	$('.fadein img:gt(0)').hide();

	setInterval(function () {
	    $('.fadein :first-child').fadeOut()
	                             .next('img')
	                             .fadeIn()
	                             .end()
	                             .appendTo('.fadein');
	}, 4000); // 4 seconds
	});
</script>




{% endblock %}